{% extends 'base.html' %}
{% block main %}
<main class="container mt-3">
    <h1>Authors</h1>
    <hr />
    <ul class="ml-0 pl-0">
        {% for author in authors %}
        <li class="d-flex align-items-center border rounded mb-3 p-0 text-font author_color">
            <h4 class="col-4 border-right mb-0 p-2">
                <a class="text-dark" href="{{ author.get_absolute_url }}">{{ author.name }}</a>
            </h4>
            <p class="pl-3 mb-0">
                Last Book:
                <a class="text-primary" href="{{ author.get_absolute_url }}">
                    {{ author.books.last.title }}
                </a>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% include 'components/paginate.html' %}
</main>
{% endblock main %}
