<li class="d-flex align-items-center border mb-3 p-0">
    <a href="book.title"><img class="p-3 border-right mr-2 " src="{{ book.cover_image.url }}" width=150px>
    </a>
    <div class="d-flex justify-content-between w-100 p-3">
        <div>
            <h5><a class="text-body" href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h5>
            <ul>
                {% for author in book.authors.all %}
                <li>{{ author.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <h4>${{ book.price }}</h4>
    </div>
</li>
