<li class="d-flex align-items-center border mb-3 p-0">
    <a href="{% url 'book-detail' book.id %}"><img class="p-3 border-right mr-2 shadow" src="{{ book.cover_image.url }}"
            width=150px>
    </a>
    <div class="d-flex justify-content-between w-100 p-3">
        <div>
            <h5><a class="text-body text-font" href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h5>
            <ul>
                {% for author in book.authors.all %}
                <li><a class="text-dark" href="{% url 'author-detail' author.id %}">{{ author.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <h4>${{ book.price }}</h4>
    </div>
</li>
