{% extends 'base.html' %}
{% block main %}
<div class="container mt-5 text-font">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group ">
            <label class="mt-4" for="title">Title: </label>
            <input name="title" type="text" class="form-control" placeholder="New title here...">
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input name="price" type="number" step="0.01" class="form-control" placeholder="Your selling price...">
        </div>
        <div class="form-group">
            <label for="author">Author: </label>
            {% include 'book/components/authors-selector.html' %}
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <input name="description" type="text" class="form-control" placeholder="The description for your book...">
        </div>
        <div class="custom-file">
            <input name="cover_image" type="file" class="custom-file-input">
            <label class="custom-file-label" for="customFile">Choose cover image...</label>
        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>

</div>
{% endblock main %}
