{% extends 'base.html' %}
{% block main %}
<div class="container mt-4 text_container pb-4">
    <ul>
        <li>
            <div class="d-flex justify-content-between">
                <h1>{{ book.title }}</h1>
                <a href="{% url 'book-update' book.id %}"><button type="submit" class="btn btn-outline-primary text-font">Update</button></a>
            </div>
            <hr />
            <div>
                {% for author in book.authors.all %}
                <h3><a class="text-dark" href="{% url 'author-detail' author.id %}">by {{ author.name }}</a></h3>
                {%endfor%}
            </div>
            <div class="pb-5">
                <a href="book-list"><img class="p-3 shadow" src="{{ book.cover_image.url }} " width="265"></a>
            </div>
            <div>
                <h4>Price: ${{ book.price }}</h4>
                <div class="pt-2">
                    <h4>Description:
                        <hr />
                        {{ book.description}}</h4>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock main %}
