body {
    /* background-image: url("https://wallpaper-gallery.net/images/background-wallpaper-tumblr/background-wallpaper-tumblr-5.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.header {
    font-family: "Poppins", sans-serif;
}

.text_container {
    font-family: "Poppins", sans-serif;
}

.home_container {
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-color,
a.navbar-color {
    background-color: rgb(226, 148, 133);
    color: white;
}
/* html {
    font-family: "Slabo 27px", serif;
} */

.text-font {
    font-family: "Poppins", sans-serif;
}

.card_color {
    background-color: rgba(255, 255, 255, 0.24);
}

/* .author_color {
    background-color: rgba(255, 255, 255, 0.931);
} */

/* rgb(254, 186, 172) 
rgb(239, 125, 175)*/

p.text-truncate:hover {
    /* sean wrote this */
    cursor: pointer;
}

.hover-hover-text:hover {
    background-color: white;
    box-shadow: 3px 3px 3px lightgrey;
}

.fancy-text {
    font-family: "Kaushan Script", cursive;
}
